body {
    background-color: #111;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-top: 40px;
}

p {
    font-size: 16px;
}

.anime-details {
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
    background-color: #1e1e1e;
    border-radius: 15px;
}

.anime-details p {
    margin: 15px 0;
}
button {
    background-color: #229ED9;
    color: blue;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.anime-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.anime-card {
    background-color: #1e1e1e;
    width: 220px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.anime-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.anime-card button {
    background-color: #229ED9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}
